<style>
  .box {
  max-width: 50;
  height: auto;
  overflow-wrap: break-word;
  }

  #postinfo{
    width: 50px;
    height: 50px;
  }

</style>
<div class="col-md-7">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static" id="postinfo" >
        <div class="row">
        <div class="col-9">
        <strong class="d-inline-block mb-2 text-primary">
            {% if post.news %}<a class="btn btn-primary float-end" type="button" aria-expanded="false" style="line-height:0; font-size: larger; padding-left: 0%; padding-bottom: 0%; background-color: white; border-color: white; color: blue;" href="{{ url_for('news') }}">News</a>{% endif %}
            {% if post.media %}<a class="btn btn-primary float-end" type="button" aria-expanded="false" style="line-height:0; font-size: larger; padding-left: 0%; padding-bottom: 0%; background-color: white; border-color: white; color: blue;" href="{{ url_for('media') }}">Media</a>{% endif %}
            {% if post.showbiz %}<a class="btn btn-primary float-end" type="button" aria-expanded="false" style="line-height:0; font-size: larger; padding-left: 0%; padding-bottom: 0%; background-color: white; border-color: white; color: blue;" href="{{ url_for('showbiz') }}">Showbiz</a>{% endif %}
            {% if post.sports %}<a class="btn btn-primary float-end" type="button" aria-expanded="false" style="line-height:0; font-size: larger; padding-left: 0%; padding-bottom: 0%; background-color: white; border-color: white; color: blue;" href="{{ url_for('sports') }}">Sports</a>{% endif %}
            {% if post.viral %}<a class="btn btn-primary float-end" type="button" aria-expanded="false" style="line-height:0; font-size: larger; padding-left: 0%; padding-bottom: 0%; background-color: white; border-color: white; color: blue;" href="{{ url_for('viral') }}">Viral</a>{% endif %}
        </strong>
      </div>
      
      {% if post.author == current_user %}
        <div class="col">
        <div class="dropdown show">
          <button class="btn btn-secondary float-end" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="line-height:0; font-size: x-large; background-color: white; border-color: white; color: grey;">
            ...
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('edit_post', id=post.id) }}">Edit Post</a>
            <a class="dropdown-item" href="{{ url_for('delete_post', id=post.id) }}">Delete Post</a>
          </div>
        </div>
        </div>
        {% endif %}
      </div>
        <div class="box"><h4>{{ post.title}}</h4></div>
        <div class="mb-1 text-muted">
            <p>by <a href="{{ url_for('profile', username=post.author.username) }}">
            {{ post.author.username }} </a> - {{ moment(post.timestamp).format('LLL') }} </p>
        </div>
        {% if post.lead_in %}
        <div class="box">
        <p class="card-text">{{post.lead_in}}</p>
        </div>
        {% endif %}
          <div class="row">
            <div class="col">              
                {% if current_user.id in post.likes|map(attribute="user_id")|list %}
                <i
                  class="fa-solid fa-heart"
                  id="like-button-{{post.id}}"
                  onclick="like({{post.id}})"></i>
                {% else %}
                <i
                  class="fa-regular fa-heart"
                  id="like-button-{{post.id}}"
                  onclick="like({{post.id}})"
                ></i>
                {% endif %}
                <span id="likes-count-{{post.id}}">
                  {{ post.likes|length }}</span>
            </div>
          </div>
          <a href="{{url_for('post', id=post.id)}}">Continue reading</a>
      </div>
      <div class="col-auto d-none d-lg-block">
          {% if post.post_pic %}
              <img src=" {{ url_for('static', filename='images/' + post.post_pic)}}" class="mx-auto d-block" alt="" width="300" height="320">
          {% else %} 
              <img src=" {{ url_for('static', filename='images/default-post-pic1.jpg')}}" class="mx-auto d-block" alt="" width="300" height="320">
          {% endif %}
      </div>
    </div>
</div>
   

