<div id="reply-{{ r.id }}" class="d-flex flex-start mt-4">
    {% if r.author.profile_pic %}
        <img src=" {{ url_for('static', filename='images/' + r.author.profile_pic)}}" class="rounded-circle shadow-1-strong me-3" width="65" height="65">
    {% else %}
        <img src=" {{ url_for('static', filename='images/default-profile-icon.jpg')}}" class="rounded-circle shadow-1-strong me-3"width="65" height="65">
    {% endif %}
    <div class="flex-grow-1 flex-shrink-1">
      <div>
        <div class="d-flex align-items-center">
          <p class="mb-1">
            <a href="{{ url_for('profile', username=r.author.username) }}" class="link-offset-2 link-underline link-underline-opacity-0">{{ r.author.username }}</a><span class="small">- {{ moment(r.timestamp).fromNow() }}</span>
          </p>
          {% if r.author == current_user %}
          <a href="{{ url_for('delete_comment', id=r.id) }}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><i class="bi bi-trash3" style="margin-left: 1ch;"></i></a>
          {% endif %}
          {% if authenticated %}
            <a data-bs-toggle="collapse" href="#{{r.id}}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><i class="bi bi-reply" style="margin-left: 1ch;"></i></a>
          {% endif %}
          {% if current_user.id in r.likes|map(attribute="user_id")|list %}
          <i
            class="fa-solid fa-heart"
            id="like-comm-btn-{{r.id}}"
            style="margin-left: 1ch;"
            onclick="like_comm({{r.id}})"></i>
          {% else %}
          <i
            class="fa-regular fa-heart"
            id="like-comm-btn-{{r.id}}"
            style="margin-left: 1ch;"
            onclick="like_comm({{r.id}})"></i>
          {% endif %}
          <span id="likes-comm-count-{{r.id}}" style="margin-left: 0.5ch;">
            {{ r.likes|length }}</span>
        </div>
        <p class="small mb-0">
            {% if r.reply_to %}
              {% set replied_comment = all_comments | selectattr('id', 'equalto', r.reply_to) | first %}
              {% if replied_comment %}
              <a href="{{ url_for('profile', username=replied_comment.author.username) }}" class="link-offset-2 link-underline link-underline-opacity-0">{{ replied_comment.author.username }}</a> 
              {% endif %}
            {% endif %}
            {{ r.body }}
        </p>
      </div>
    </div>
</div>
<div class="collapse" id="{{r.id}}">
  <br>
    <div class="d-flex flex-start w-100">
      {% if current_user.profile_pic %}
        <img src=" {{ url_for('static', filename='images/' + current_user.profile_pic)}}" class="rounded-circle shadow-1-strong me-3" width="65" height="65">
      {% else %}
        <img src=" {{ url_for('static', filename='images/default-profile-icon.jpg')}}" class="rounded-circle shadow-1-strong me-3"width="65" height="65">
      {% endif %}
      <form method="POST" action="" novalidate>
        <div data-mdb-input-init class="form-outline w-100">
          {{ form2.hidden_tag() }}
          {{ form2.reply(class='form-control' + (' is-invalid' if form2.reply.errors else ''), rows='2', placeholder='Write your reply...') }}
          {{ form2.parent_id(class="visually-hidden")}}
          {%- for error in form2.reply.errors %}
            <div class="invalid-feedback">{{ error }}</div>
          {%- endfor %}
        </div>
        <div class="float-end mt-2 pt-1">
          <a href="#{{r.id}}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" onclick="reply({{r.id}})">
          {{ form2.submit(class='btn btn-primary') }} 
          </a>
        </div>
      </form>
    </div>
</div>