{% extends "base.html" %}

{% block content %}
    <h1>{{h}}</h1>
    <style>
        .button1 {
                    background-color: white;
                    color: black;
                    border: 1px solid #dddcde;
                    border-radius: 12px; 
                    }
        .button1:hover {
                    background-color: #f5f5fa;
                    }
    </style>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.title.label(class='form-label') }}
                {{ form.title(class='form-control' + (' is-invalid' if form.title.errors else '')) }}
                {%- for error in form.title.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {%- endfor %}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-3">
                {{ form.category.label(class='form-label') }}
                {{ form.category(class='list-group' + (' is-invalid' if form.category.errors else '')) }}
                {%- for error in form.category.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {%- endfor %}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.lead_in.label(class='form-label') }}
                {{ form.lead_in(class='form-control' + (' is-invalid' if form.lead_in.errors else '')) }}
                {%- for error in form.lead_in.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {%- endfor %}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form.body.label(class='form-label') }}
                {{ form.body(class='form-control', rows="7" + (' is-invalid' if form.body.errors else '')) }}
                {%- for error in form.body.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {%- endfor %}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="input-group mb-3"> 
                <label class="input-group-text" for="customFile"> 
                    <i class="bi bi-file-earmark-image"></i> 
                </label> 
                {{ form.post_pic(type='file', class='form-control visually-hidden', id="customFile", accept="image/*", onchange="showFiles(this)" + (' is-invalid' if form.post_pic.errors else '')) }}
                <button class="button1" type="button" 
                    onclick="document.getElementById('customFile').click()"> 
                    Post's Picture 
                </button> 
                {%- for error in form.post_pic.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {%- endfor %}
            </div> 
            <div class="mt-3"> 
                <div class="row">
                    <div class="col-md-4 mb-3" id="imagePreviews">

                    </div>
                </div> 
            </div>  
        </div> 
        <div class="form-check">
            {{ form.checkbox(class='form-check-input', type="checkbox", id="CheckDefaultPic", onchange="myFunction()") }}
            {{ form.checkbox.label(class='form-check-label') }}
        </div>
        <br>
        {{ form.submit(class='btn btn-primary mb-3') }}
    </form>

    <script> 
    
        function showFiles(input) {
            let checkBox = document.getElementById("CheckDefaultPic"); 
            const previewsContainer = document.getElementById('imagePreviews'); 
            previewsContainer.innerHTML = ''; 
            files = input.files; 
            file = files[0]; 
            reader = new FileReader(); 
            reader.onload = function (e) { 
                if (checkBox.checked == false){
                    previewsContainer.innerHTML += `<p> ${file.name} </p>`;
                }
            }; 
            reader.readAsDataURL(file); 
        } 
    
        function myFunction() {
            let checkBox = document.getElementById("CheckDefaultPic");
            document.getElementById('imagePreviews').innerHTML = '';
            if (checkBox.checked == false){
                document.getElementById('imagePreviews').innerHTML += `<p> ${file.name} </p>`;
            }
        }

    </script> 
{% endblock %}