{% extends "base.html" %}

{% block content %}
    <h1>Edit Profile</h1>
    <style>
        .button1 {
                    background-color: white;
                    color: black;
                    border: 1px solid #dddcde;
                    border-radius: 12px; 
                    }
        .button1:hover {
                    background-color: #f5f5fa;
                    }
    </style>
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-row">
            <div class="col-md-3">
                {{ form.username.label(class='form-label') }}
                {{ form.username(class='form-control' + (' is-invalid' if form.username.errors else '')) }}
                {%- for error in form.username.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {%- endfor %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                {{ form.about_me.label(class='form-label') }}
                {{ form.about_me(class='form-control', rows="7" + (' is-invalid' if form.about_me.errors else '')) }}
                {%- for error in form.about_me.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {%- endfor %}
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="input-group mb-3"> 
                <label class="input-group-text" for="customFile"> 
                    <i class="bi bi-file-earmark-image"></i> 
                </label> 
                {{ form.profile_pic(type='file', class='form-control visually-hidden', id="customFile", accept="image/*", onchange="showFiles(this)" + (' is-invalid' if form.profile_pic.errors else '')) }}
                <button class="button1" type="button" 
                    onclick="document.getElementById('customFile').click()"> 
                    Profile Picture 
                </button> 
                {%- for error in form.profile_pic.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {%- endfor %}
            </div> 
            <div class="mt-3"> 
                <div class="row" id="imagePreviews"></div> 
            </div> 
        </div> 
        <br>
        {{ form.submit(class='btn btn-primary mb-3') }}
    </form>


    <script> 
        function showFiles(input) { 
            const previewsContainer = 
                document.getElementById('imagePreviews'); 
                  
            previewsContainer.innerHTML = ''; 
            const files = input.files; 
            const file = files[0]; 
            const reader = new FileReader(); 
            reader.onload = function (e) { 
                const preview = document.createElement('div'); 
                preview.classList.add('col-md-4', 'mb-3'); 
                preview.innerHTML += `<span> ${file.name} </span>`;
                previewsContainer.appendChild(preview); 
            }; 
            reader.readAsDataURL(file); 
            
        } 
    </script> 

{% endblock %}