{% extends "base.html" %}

{% block content %}
    <h1>Notifications</h1>
    <br>
    {% if notifications %}
        {% for n in notifications %}
        <div class="col-8">
        <div class="card mb-3">
            <div class="card-body">
              <div class="d-flex flex-start">
                {% if n.sender.profile_pic %}
                    <img src=" {{ url_for('static', filename='images/' + n.sender.profile_pic)}}" class="rounded-circle shadow-1-strong me-3" width="40" height="40">
                {% else %}
                    <img src=" {{ url_for('static', filename='images/default-profile-icon.jpg')}}" class="rounded-circle shadow-1-strong me-3" width="40" height="40">
                {% endif %}
                <div class="w-100">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h6 class="text-primary fw-bold mb-0">
                      {{ n.sender.username }}
                      {% if n.category == "like_post" %}
                      <span class="text-body ms-2">liked your post "{{ n.post.title }}"</span>
                      {% elif n.category == "comment_post" %}
                      <span class="text-body ms-2">comment "{{n.comment.body}}" on your post "{{ n.post.title }}"</span>
                      {% endif %}
                    </h6>
                    <p class="mb-0">{{ moment(n.timestamp).fromNow() }}</p>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        {% endfor %}

        <nav aria-label="Post navigation">
            <ul class="pagination">
                <li class="page-item{% if not prev_url %} disabled{% endif %}">
                    <a class="page-link" href="{{ prev_url }}">
                        <span aria-hidden="true">&laquo;</span> Newer 
                    </a>
                </li>
                <li class="page-item{% if not next_url %} disabled{% endif %}">
                    <a class="page-link" href="{{ next_url }}">
                        Older  <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        </div>
    {% else %}
        <h5> There are no notifications. </h5>
    {% endif %}

{% endblock %}