{% extends "base.html" %}

{% block content %}
<style>
  #box {
    overflow-wrap: break-word;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .card-body {
    overflow-wrap: break-word; 
    word-break: break-word;
  }

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

#menu{
  float: right;
}

.container-match {
  width: 100%;
  height: auto;
  display: flex;
  align-items: left;
  justify-content: left;
}

.card {
  width: 100%;
  height: auto;
}

.container-inner {
  width: 100%;
  height: auto;
  overflow:visible;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
 
.row-category {
  display: flex;
  flex-wrap: wrap;       /* Ensures items wrap to a new row when out of space */
  gap: 20px;             /* Adds space between columns */
}

.column-category {
  flex: 0 1 300px;       /* Fixes column width at 300px, allowing wrapping */ 
}

@media (max-width: 576px) {
  .column-category {
  flex: 1 1 100%;    /* Full width on small screens */
  }
}

</style>

<div class="row g-5">
  <div class="col-md-8">
    <div class="row g-1">
      <div class="d-flex justify-content-between" id="category-container">
        <div id="category">
            <strong class="d-inline-block mb-2 text-primary">
                {% if post.news %}<a class="btn btn-primary float-end" type="button" aria-expanded="false" style="line-height:0; font-size: x-large; padding-left: 0%; padding-bottom: 0%; background-color: white; border-color: white; color: blue;" href="{{ url_for('news') }}">News</a>{% endif %}
                {% if post.media %}<a class="btn btn-primary float-end" type="button" aria-expanded="false" style="line-height:0; font-size: x-large; padding-left: 0%; padding-bottom: 0%; background-color: white; border-color: white; color: blue;" href="{{ url_for('media') }}">Media</a>{% endif %}
                {% if post.showbiz %}<a class="btn btn-primary float-end" type="button" aria-expanded="false" style="line-height:0; font-size: x-large; padding-left: 0%; padding-bottom: 0%; background-color: white; border-color: white; color: blue;" href="{{ url_for('showbiz') }}">Showbiz</a>{% endif %}
                {% if post.sports %}<a class="btn btn-primary float-end" type="button" aria-expanded="false" style="line-height:0; font-size: x-large; padding-left: 0%; padding-bottom: 0%; background-color: white; border-color: white; color: blue;" href="{{ url_for('sports') }}">Sports</a>{% endif %}
                {% if post.viral %}<a class="btn btn-primary float-end" type="button" aria-expanded="false" style="line-height:0; font-size: x-large; padding-left: 0%; padding-bottom: 0%; background-color: white; border-color: white; color: blue;" href="{{ url_for('viral') }}">Viral</a>{% endif %}
            </strong>
        </div>
        {% if post.author == current_user %}
        <div class="dropdown show" id="menu">
          <button class="btn btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="line-height:0; font-size: x-large; background-color: white; border-color: white; color: grey;">
            ...
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('edit_post', id=post.id) }}">Edit Post</a>
            <a class="dropdown-item" href="{{ url_for('delete_post', id=post.id) }}">Delete Post</a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <h1 id="box"> {{ post.title }}</h1>
    <div class="mb-1 text-muted">
        <p>Written by 
        {% if post.author %}
          <a href="{{ url_for('profile', username=post.author.username) }}" class="link-offset-2 link-underline link-underline-opacity-0">
          {{ post.author.username }} </a> 
        {% else %}
          <p>{{ post.username }} <span style="color: red;">(Deleted User)</span></p>
        {% endif %}
        - {{ moment(post.timestamp).format('LLL') }} </p>
    </div>
    <hr>
    <br>
    {% if post.post_pic %}
    <img src="{{ url_for('static', filename='images/' + post.post_pic) }}" class="img-fluid" alt="Post image">
    <br>
    {% endif %}  
    <br> 
    <h5>{{ post.body }}</h5>
    <br>
  </div>
  {% if trending %}
  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem; min-width: 350px;">
      <div class="p-4 mb-4 bg-light rounded">
        <h2>Trending</h2>
        {% for p in trending %}
          {% include '_minipost.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

<section class="gradient-custom" id="comment_section">
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-left">
      <div class="col-auto">
        <div class="card d-inline-block" style="display: inline-block;">
          <div class="card-body" style="display: flex; align-items: center;">
          {% if current_user.id in post.likes|map(attribute="user_id")|list %}
            <i
              class="fa-solid fa-heart fa-2xl"
              id="like-btn-{{post.id}}"
              onclick="likePost({{post.id}})" 
              style="margin-right: 0.5rem;"></i>
          {% else %}
            <i
              class="fa-regular fa-heart fa-2xl"
              id="like-btn-{{post.id}}"
              onclick="likePost({{post.id}})"
              style="margin-right: 0.5rem;"></i>
          {% endif %}
            <span id="likes-cnt-{{post.id}}" style="font-size:x-large; white-space: nowrap; margin-right: 0.5rem;">{{ post.likes|length }}</span>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="card d-inline-block" style="display: inline-block;">
          <div class="card-body" style="display: flex; align-items: center;">
            <i class="fa-regular fa-comment fa-2xl" style="margin-right: 0.5rem;"></i>
            <span style="font-size:x-large; white-space: nowrap; margin-right: 0.5rem;">{{ post.comments|length }}</span>
          </div>
        </div>  
      </div>
    </div>
    <br>
    <div class="row d-flex justify-content-left">
      <div class="col-md-12 col-lg-10 col-xl-8">
        <div class="container container-match">
        <div class="card">
          <div class="card-body p-4">
            <div class="container-inner">
            <h3 class="text-left mb-4 pb-2">Comment Section</h3>
            {% if authenticated %}
              <div class="d-flex flex-start w-100">
                {% if current_user.profile_pic %}
                  <img src=" {{ url_for('static', filename='images/' + current_user.profile_pic)}}" class="rounded-circle shadow-1-strong me-3" width="65" height="65">
                {% else %}
                  <img src=" {{ url_for('static', filename='images/default-profile-icon.jpg')}}" class="rounded-circle shadow-1-strong me-3"width="65" height="65">
                {% endif %}
                <div class="w-100">
                  <h5>Add a comment</h5>
                  <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-row">
                        <div class="col-md-8">
                          {{ form.comment(class='form-control' + (' is-invalid' if form.comment.errors else ''), id='textarea', rows='4', placeholder='What is your view?') }}
                          {%- for error in form.comment.errors %}
                          <div class="invalid-feedback">{{ error }}</div>
                          {%- endfor %}
                        </div>
                    </div>
                    <br>
                    {{ form.submit(class='btn btn-primary mb-3') }}
                  </form>
                </div>
              </div>
            {% else %}
            <div class="d-flex flex-start w-100"> 
              <h5>Loggin to comment</h5>
            </div>
            {% endif %}
            <br>
            <div class="row">
              <div class="col-md-12">
                {% for c in comments %}
                <div class="col-md-12" id="comment-{{ c.id }}">
                  {% include '_comment.html' %}
                </div>
                {% endfor %}
                <nav aria-label="Comment navigation">
                  <ul class="pagination">
                      <li class="page-item{% if not prev_url %} disabled{% endif %}">
                          <a class="page-link" href="{{ prev_url }}">
                              <span aria-hidden="true">&laquo;</span> Previous 
                          </a>
                      </li>
                      <li class="page-item{% if not next_url %} disabled{% endif %}">
                          <a class="page-link" href="{{ next_url }}">
                              More  <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                  </ul>
                </nav>
              </div>
            </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% if post.news==1 %}
{% if posts_news %}
<hr>
<div class="col">
    <h3>View more from<a class="btn btn-primary" type="button" aria-expanded="false" style="line-height:0; font-size: xx-large; padding-top: 0%; background-color: white; border-color: white; color: rgb(31, 115, 218);" href="{{ url_for('news') }}">News</a></h3>
</div>
<div class="row-category">
    {% for p in posts_news %}
    <div class="column-category">
        {% include '_minipost.html' %}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endif %}

{% if post.media==1 %}
{% if posts_media %}
<hr>
<div class="col">
    <h3>View more from<a class="btn btn-primary" type="button" aria-expanded="false" style="line-height:0; font-size: xx-large; padding-top: 0%; background-color: white; border-color: white; color: rgb(31, 115, 218);" href="{{ url_for('media') }}">Media</a></h3>
</div>
<div class="row-category">
    {% for p in posts_media %}
    <div class="column-category">
        {% include '_minipost.html' %}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endif %}

{% if post.showbiz==1 %}
{% if posts_showbiz %}
<hr>
<div class="col">
    <h3>View more from<a class="btn btn-primary" type="button" aria-expanded="false" style="line-height:0; font-size: xx-large; padding-top: 0%; background-color: white; border-color: white; color: rgb(31, 115, 218);" href="{{ url_for('showbiz') }}">Showbiz</a></h3>
</div>
<div class="row-category">
    {% for p in posts_showbiz %}
    <div class="column-category">
        {% include '_minipost.html' %}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endif %}

{% if post.sports==1 %}
{% if posts_sports %}
<hr>
<div class="col">
    <h3>View more from<a class="btn btn-primary" type="button" aria-expanded="false" style="line-height:0; font-size: xx-large; padding-top: 0%; background-color: white; border-color: white; color: rgb(31, 115, 218);" href="{{ url_for('sports') }}">Sports</a></h3>
</div>
<div class="row-category">
    {% for p in posts_sports %}
    <div class="column-category">
        {% include '_minipost.html' %}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endif %}

{% if post.viral==1 %}
{% if posts_viral %}
<hr>
<div class="col">
    <h3>View more from<a class="btn btn-primary" type="button" aria-expanded="false" style="line-height:0; font-size: xx-large; padding-top: 0%; background-color: white; border-color: white; color: rgb(31, 115, 218);" href="{{ url_for('viral') }}">Viral</a></h3>
</div>
<div class="row-category">
    {% for p in posts_viral %}
    <div class="column-category">
        {% include '_minipost.html' %}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endif %}

{% endblock %}