{% extends "base.html" %}

{% block content %}
    <h1>Search Results: "{{ query }}" was mentioned {{total}} {% if total == 1 %}time{% else %}times {% endif %}</h1>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    

    {% if posts %}
    <nav aria-label="Post navigation">
        <ul class="pagination">
            <li class="page-item{% if not prev_url %} disabled{% endif %}">
                <a class="page-link" href="{{ prev_url }}">
                    <span aria-hidden="true">&laquo;</span> Newer
                </a>
            </li>
            <li class="page-item{% if not next_url %} disabled{% endif %}">
                <a class="page-link" href="{{ next_url }}">
                    Older <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}

{% endblock %}